aiohappyeyeballs
aiohttp
aiosignal
annotated-types
anyio
attrs
babyagi
blinker
certifi
cffi
charset-normalizer
click
colorama
cryptography
deprecation
distro
et_xmlfile
faiss-cpu
filelock
Flask
frozenlist
fsspec
fuzzywuzzy
gotrue
greenlet
h11
h2
hpack
httpcore
httpx
huggingface-hub
hyperframe
idna
importlib_metadata
iniconfig
itsdangerous
jellyfish
Jinja2
jiter
joblib
jsonschema
jsonschema-specifications
Levenshtein
litellm
MarkupSafe
mpmath
multidict
networkx
nltk
numpy
openai
openpyxl
packaging
pandas
pillow
pluggy
postgrest
propcache
pycparser
pydantic
pydantic_core
Pygments
PyJWT
pytest
pytest-mock
python-dateutil
python-dotenv
python-Levenshtein
pytz
PyYAML
rank-bm25
RapidFuzz
realtime
referencing
regex
requests
rpds-py
safetensors
scikit-learn
scipy
sentence-transformers
setuptools
six
sniffio
SQLAlchemy
storage3
StrEnum
supabase
supafunc
sympy
threadpoolctl
tiktoken
tokenizers
torch
tqdm
transformers
typing-inspection
typing_extensions
tzdata
urllib3
websockets
Werkzeug
yarl
zipp